main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  height: calc(100vh - 56px); /* router view - navbar height */
  overflow: scroll;
}

.card {
  border-radius: 0;
  margin-bottom: 15vh;
  background-color: rgba(255, 255, 255, 0.0);
}
